.App {
  text-align: center;
  top: 0;
  margin : 0;
  padding: 0;
  text-align: center;
  background-image : url('https://ak.picdn.net/shutterstock/videos/20154778/thumb/1.jpg');
  background-size: cover ;
  height: 620px;
}

.Title {
  margin : 0;
  color : yellow;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

.Time {
  margin : 0;
  color : yellow;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

.TimeDiv{
  left: 0;
  top: 0;
  margin : 0;
  background-color: black;
  color: white
}

.btn {
  margin : 0.25em;
  padding : 0.25em 1em;
  background-color: #6699ff;
  color : white;
  border-radius: 0.5em;
  border : 2px solid black;
  font-size : 1.5em;
  color : black;
  font-weight: 600;
  transition: all .3s ease 0s; 
}

.btn:hover {
 color: red;
 border : 2px solid red;
}

.btn:active {
  color: yellow;
  border : 2px solid yellow;
 }

 .Profile {
   background-image : url("https://st.depositphotos.com/1031174/1740/i/600/depositphotos_17402069-stock-photo-abstract-grey-background.jpg");
   padding : 1em 0;
   margin: 0% 25%;
   border: 1px black solid;
   border-radius: 50px ;
   box-shadow: 5px 5px 5px gray;
   background-size: cover;
   background-repeat: no-repeat;
   height: 70%;
   width: 50%;

   -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.9s;
  animation-name: animatetop;
  animation-duration: 0.9s
 }

 @-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

 img {
   border-radius : 20px;
   border: 1px black solid;
   box-shadow: 5px 5px 5px gray;
   width: 175px;
 }

 .ProfileTitle {
   margin : 0.5em;
   font-family: Lobster;
 }

.MyName {
  text-shadow: 2px 2px gray;
  font-weight: 400;
 }

 .bio {
  color :#8080ff;
  text-shadow: 2px 2px gray;
  font-weight: 400;
 }

 .profession {
  color : #333300;
  text-shadow: 2px 2px gray;
  font-weight: 400;
 }